@using CGateMetricsData.Models;

@page "/CreateBuchung/{id:int}"
@page "/CreateBuchung"

@if(Id == 0)
{
    <PageTitle>Create a new Buchung</PageTitle>
    <h3>Create a new Buchung</h3>
}
else{
<PageTitle>Edit Buchung</PageTitle>
<h3>Edit Buchung</h3>
}

<RadzenTemplateForm TItem="Buchung" Data=@buchung Submit=@SubmitButtonPressed>
<RadzenFieldset Text="Buchung">
    <RadzenStack Gap="1rem">
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Zeit Ankunft" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDatePicker @bind-Value="buchung.UhrzeitIn"/>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Zeit Abfahrt" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDatePicker @bind-Value="buchung.UhrzeitOut"/>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Ausweis Id" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDropDown @bind-Value="@buchung.AusweisId" Name="AusweisId" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true" Data="@AusweisIdList" AllowClear=true Placeholder="Select AusweisId" Style="width: 100%; max-width: 400px;" />
                    <RadzenRequiredValidator Text="Name is required" Component="AusweisId" Popup=true/>
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="StandortId" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDropDown @bind-Value="@buchung.StandortId" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true" Data="@StandortIdList" AllowClear=true Placeholder="Select StandortId" Style="width: 100%; max-width: 400px;" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Fahrgestellnummer" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenDropDown @bind-Value="@buchung.Fahrgestellnummer" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true" Data="@FahrgestellnummerList" AllowClear=true Placeholder="Select Fahrgestellnummer" Style="width: 100%; max-width: 400px;" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Gewicht Ankunft" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenNumeric class="w-100" @bind-Value="buchung.GewichtIn" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Gewicht Abfahrt" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenNumeric class="w-100" @bind-Value="buchung.GewichtOut" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="4">
                <RadzenLabel Text="Gefahrgut" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenTextBox class="w-100" @bind-Value="buchung.Gefahrgut" />
            </RadzenColumn>
        </RadzenRow>

        @if (Id != 0)
        {
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Daten absenden</RadzenText>
                <RadzenButton Text="Daten absenden" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" />
            </RadzenCard>
            </div>

        }
        else
        {
            <div class="col-md-6 col-lg-4 p-3">
                <RadzenCard>
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Create</RadzenText>
                        <RadzenButton Text="Create" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" />
                </RadzenCard>
            </div>
        }
    </RadzenStack>
</RadzenFieldset>
</RadzenTemplateForm>
