@page "/Fahrer"
<h3>Fahrer</h3>

@inject DialogService DialogService




@*<RadzenRow class="rz-text-align-left rz-border-white" Gap="1rem">
    <RadzenColumn class="rz-background-color-white rz-color-on-info-lighter rz-p-5">
        <RadzenButton Click="@CreateNewFahrer" Text="Create" ButtonStyle="ButtonStyle.Success" />
    </RadzenColumn>
</RadzenRow>
<RadzenDataGrid @ref="_fahrerGrid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
    Data="@_fahrer" TItem="CGateMetricsData.Models.Fahrer" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" IsLoading="@IsLoading" >
    <Columns>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="AusweisId" Title="AusweisId" Frozen="true" Width="160px" />
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Vorname" Title="Vorname" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Vorname" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Nachname" Title="Nachname" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Nachname" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Geburtsort" Title="Geburtsort" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Geburtsort" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Geburtstag" Title="Geburtstag" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenDatePicker @bind-Value="fahrer.Geburtstag" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Anrede" Title="Anrede" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Anrede" />

                <RadzenDropDown @bind-Value="@fahrer.Anrede" Style="width: 100%; max-width: 400px;" />  
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Telefon" Title="Telefon" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Telefon" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Firma" Title="Firma" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Firma" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Width="156px" Filterable="false" Sortable="false">
          <Template Context="item">
            <RadzenButton Click=@(args => EditButton(@item)) Text="Edit" ButtonStyle="ButtonStyle.Warning" />
          </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Width="156px" Filterable="false" Sortable="false">
            <Template Context="item">
                <RadzenButton Click=@(args => DeleteButton(@item)) Text="Delete" ButtonStyle="ButtonStyle.Danger" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Context="fahrer" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="50px">
            <Template Context="fahrer">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                              Click="@(args => _fahrerGrid.EditRow(fahrer))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
        </RadzenDataGridColumn>*@






        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4" Text="Add New Fahrer" Click="@InsertRow" Disabled=@(fahrerToInsert != null || fahrerToUpdate != null) />
        <RadzenDataGrid @ref="_fahrerGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" EditMode="DataGridEditMode.Single"
                        Data="@_fahrer" TItem="CGateMetricsData.Models.Fahrer" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="200px">
            <Columns>


        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="AusweisId" Title="AusweisId" Frozen="true" Width="160px">
                      <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.AusweisId" Disabled="@DisableAusweisId" Style="width:100%; display: block" Name="AusweisId"/>
                <RadzenCustomValidator Value=@fahrer.AusweisId Component="AusweisId" Text="AusweisId nicht eindeutig" Validator="@(() => ValidateNewId(fahrer.AusweisId))" Style="position: absolute" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Vorname" Title="Vorname" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Vorname" Style="width:100%; display: block" Name="Vorname" />
                <RadzenRequiredValidator Text="Vorname angeben" Component="Vorname" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Nachname" Title="Nachname" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Nachname" Style="width:100%; display: block" Name="Nachname" />
                <RadzenRequiredValidator Text="Nachname angeben" Component="Nachname" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Geburtsort" Title="Geburtsort" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Geburtsort" Style="width:100%; display: block" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Geburtstag" Title="Geburtstag" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenDatePicker @bind-Value="fahrer.Geburtstag" Style="width:100%; display: block" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Anrede" Title="Anrede" Width="160px">
            <EditTemplate Context="fahrer">

                <RadzenDropDown @bind-Value="@fahrer.Anrede" Data="@Anrede" Style="width: 100%; max-width: 400px;" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Telefon" Title="Telefon" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Telefon" Style="width:100%; display: block" />
            </EditTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Property="Firma" Title="Firma" Width="160px">
            <EditTemplate Context="fahrer">
                <RadzenTextBox @bind-Value="fahrer.Firma" Style="width:100%; display: block" Name="Firma" />
                <RadzenRequiredValidator Text="Firma angeben" Component="Firma" Popup="true" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CGateMetricsData.Models.Fahrer" Context="fahrer" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
                    <Template Context="fahrer">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(fahrer))" @onclick:stopPropagation="true">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(fahrer))" @onclick:stopPropagation="true">
                        </RadzenButton>
                    </Template>
                    <EditTemplate Context="fahrer">
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(fahrer))">
                        </RadzenButton>
                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(fahrer))">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(fahrer))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>





