@page "/home"

<RadzenText TextStyle="TextStyle.H5">Landing Page</RadzenText>

@if (_isBusy)
{
    <RadzenText TextStyle="TextStyle.H6">Daten werden geladen.</RadzenText>
    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    <RadzenRow JustifyContent="JustifyContent.Center">
        <RadzenDropDown TValue="string" Data="@_locations" Value="@_currentLocation" Change="@(args => LocationChangedHandler(args))" />
    </RadzenRow>

    <div class="row pt-3">
        <div class="col-2">
            <RadzenButton Click="NewBookingHandler" Icon="add_circle_outline"> Neue Buchung</RadzenButton>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-2">
            <CGateMetricsGui.Components.CounterCardWithTitle Count="@_currentIn" Title="Im Werk" />
        </div>
        <div class="col-10">
            <CGateMetricsGui.Components.CurrentVehiclesInside Data="@_currentVehiclesIn" />
        </div>
    </div>
}